.header__logo {
  width: 103.74px;
  height: 24.4px;
  margin: 0 0 32px 27px;
  display: block;
  object-fit: cover;
}

@media (min-width: 1024px) {
  .header__logo {
    width: 142px;
    height: 33px;
    margin: 0 0 40px 0;
  }
}