.popup__container {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  color: #000;
  padding: 22px 25px;
  box-sizing: border-box;
  position: relative;
}

@media (min-width: 768px) {
  .popup__container {
    width: 430px;
    padding: 34px 36px 37px;
  }
}